@{
}

@model List<Bowler>

<div id="teams" class="col-3">
    @*<vc:teams></vc:teams>*@
</div>

<div class="col">
    <table class="table table-bordered table-outline">
        <thead>
            <tr>
                <th>Bowler ID:</th>
                <th>First Name:</th>
                <th>Middle Initial:</th>
                <th>Last Name:</th>
                <th>Address:</th>
                <th>City:</th>
                <th>State:</th>
                <th>Zip:</th>
                <th>Phone Number:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model)
            {
                <partial name="BowlerSummary" model="b" />
            }
        </tbody>
    </table>
    <br />
    <br />
    <br />
</div>