@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<div class="col-3">
    @*@foreach t in Model.Teams*@
    <p>This will be a filter</p>
</div>

<div class="col">
    <table class="table table-bordered table-outline">
        <thead>
            <tr>
                <th>First Name:</th>
                <th>Middle Initial:</th>
                <th>Last Name:</th>
                <th>Address:</th>
                <th>City:</th>
                <th>State:</th>
                <th>Zip:</th>
                <th>Phone Number:</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach b in Model :*@
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-warning">Edit</button></td>
                <td><button class="btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>